<div class="container">
  <div class="box box--shadow">

    <h1 class="form-headline">Event Bearbeiten</h1>

    <form #createForm="ngForm" [formGroup]="createEventFormGroup" (ngSubmit)="createForm.form.valid && createEvent() ">
      <div class="grid cols--2">
        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput placeholder="Maxmustermann Straße 10" name="address"
                 formControlName="address"
                 [(ngModel)]="eventDTO.address">
          <mat-error *ngIf="createEventFormGroup.get('address')?.errors">
            <p *ngIf="createEventFormGroup.get('address')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element full-width" appearance="outline">
          <mat-label>Stadt</mat-label>
          <input matInput placeholder="St. Johann in Tirol" name="city"
                 formControlName="city"
                 [(ngModel)]="eventDTO.city">
          <mat-error *ngIf="createEventFormGroup.get('city')?.errors">
            <p *ngIf="createEventFormGroup.get('city')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            <p *ngIf="createEventFormGroup.get('city')?.hasError('minlength')">Bitte Mindestlänge beachten</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="picker1" name="date"
                 formControlName="date"
                 [(ngModel)]="eventDTO.startDateTime">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="picker1" name="date"
                 formControlName="date"
                 [(ngModel)]="eventDTO.endDateTime">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-element full-width" appearance="outline">
          <mat-label>Beschreibung</mat-label>
          <input matInput placeholder="Max macht eine Schaumparty!" name="description"
                 formControlName="description"
                 [(ngModel)]="eventDTO.description">
          <mat-error *ngIf="createEventFormGroup.get('description')?.errors">
            <p *ngIf="createEventFormGroup.get('description')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            <p *ngIf="createEventFormGroup.get('description')?.hasError('minlength')">Bitte Mindestlänge beachten</p>
          </mat-error>
        </mat-form-field>



        <mat-form-field class="form-element full-width" appearance="outline">
          <mat-label>Event Name</mat-label>
          <input matInput placeholder="Jogassn" name="name"
                 formControlName="name"
                 [(ngModel)]="eventDTO.name">
          <mat-error *ngIf="createEventFormGroup.get('name')?.errors">
            <p *ngIf="createEventFormGroup.get('name')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element full-width" appearance="outline">
          <mat-label>Preis</mat-label>
          <input matInput placeholder="10,99" type="number" name="price" formControlName="price"
                 [(ngModel)]="eventDTO.price">
          <mat-error *ngIf="createEventFormGroup.get('price')?.errors">
            <p *ngIf="createEventFormGroup.get('price')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" appearance="outline">
          <mat-label>Anzahl der verfügbaren Tickets</mat-label>
          <input matInput placeholder="7000" name="ticketCounter" formControlName="ticketCounter"
                 [(ngModel)]="eventDTO.ticketCounter">
          <mat-error *ngIf="createEventFormGroup.get('ticketCounter')?.errors">
            <p *ngIf="createEventFormGroup.get('ticketCounter')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          </mat-error>
        </mat-form-field>


        <button class="cols--full-width" mat-raised-button color="primary" type="submit"
                [disabled]="!createForm.form.valid">Updaten
        </button>
      </div>
    </form>

  </div>
</div>
