<div class="container-splide">
  <div *ngIf="showEventImagesLoaded">
    <splide [options]="
    {
      perPage: 1,
      pagination: false
    }
      ">

      <splide-slide *ngFor="let image of showEventImages">
        <figure class="image-thumbnail">
          <img [src]="image">
        </figure>
      </splide-slide>

    </splide>
  </div>


  <!--
    <splide-slide>
      <figure class="image-thumbnail">
        <img src="../../../assets/event.jpg">
      </figure>
    </splide-slide>
    <splide-slide>
      <figure class="image-thumbnail">
        <img src="../../../assets/event.jpg">
      </figure>
    </splide-slide>
  !-->
  <div class="event-name box--shadow margin-bottom--standard"
       *ngIf="eventDTO.name || eventDTO.city || eventDTO.address || eventDTO.startDateTime || eventDTO.endDateTime || eventDTO.price || eventDTO.ticketCounter || eventDTO.description
    ">
    <h2 *ngIf="eventDTO.name">Name: {{ eventDTO.name }}</h2>
    <h4 *ngIf="eventDTO.city">Stadt: {{ eventDTO.city }}</h4>
    <h4 *ngIf="eventDTO.address">Adresse: {{ eventDTO.address }}</h4>
    <h4 *ngIf="eventDTO.startDateTime">Startdatum: {{ eventDTO.startDateTime | date: 'dd.MM.yyyy HH:mm'}} Uhr</h4>
    <h4 *ngIf="eventDTO.endDateTime">Enddatum: {{ eventDTO.endDateTime | date: 'dd.MM.yyyy HH:mm'}} Uhr</h4>
    <h4 *ngIf="eventDTO.price">Preis: {{ eventDTO.price | currency: 'EUR'}}</h4>
    <h4 *ngIf="eventDTO.ticketCounter">Anzahl der verfügbaren Tickets: {{ eventDTO.ticketCounter }}</h4>
    <h4 *ngIf="eventDTO.description">Beschreibung: {{ eventDTO.description }}</h4>
  </div>

  <h3 class="event-headline">Eventinfo:</h3>
  <form #createForm="ngForm" [formGroup]="createFormGroup" (ngSubmit)="createForm.form.valid && createEvent() ">

    <div class="grid cols--1 container">

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">image</mat-icon>
        </div>
        <div class="event-detail--box-2">

          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Fotos</mat-label>

            <ngx-mat-file-input [multiple]="true"
                                [(ngModel)]="eventDTO.eventImageUrls"
                                formControlName="files"
                                id="file"
                                class="form-control"
                                matInput
                                (change)="onFileChange($event)"
                                accept="{{accept}} "
            >
              <mat-icon ngxMatFileInputIcon>folder</mat-icon>
            </ngx-mat-file-input>

            <mat-error *ngIf="createFormGroup.get('files')?.errors">
              <p *ngIf="createFormGroup.get('files')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Foto hinzufügen</mat-hint>
          </mat-form-field>
        </div>
      </div>


      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">badge</mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input name="eventName" formControlName="eventName" matInput placeholder="Mustername"
                   [(ngModel)]="eventDTO.name" type="text">
            <mat-error *ngIf="createFormGroup.get('eventName')?.errors">
              <p *ngIf="createFormGroup.get('eventName')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Event Name eingeben</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">home</mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Stadt</mat-label>
            <input name="eventCity" formControlName="eventCity" matInput placeholder="Musterstadt"
                   [(ngModel)]="eventDTO.city" type="text">
            <mat-error *ngIf="createFormGroup.get('eventCity')?.errors">
              <p *ngIf="createFormGroup.get('eventCity')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Event Stadt eingeben</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">location_on
          </mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Adresse</mat-label>
            <input name="eventAddress" formControlName="eventAddress" matInput placeholder="Musteradresse"
                   [(ngModel)]="eventDTO.address" type="text">
            <mat-error *ngIf="createFormGroup.get('eventAddress')?.errors">
              <p *ngIf="createFormGroup.get('eventAddress')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Event Adresse eingeben</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">today</mat-icon>
        </div>
        <div class="event-detail--box-2">


          <mat-form-field appearance="outline" class="event-date--formfield">
            <!--

            <mat-placeholder>Start DateTime</mat-placeholder>
            <mat-datetimepicker-toggle
              [for]="startDateTimePicker"
              matSuffix
            ></mat-datetimepicker-toggle>
            <mat-datetimepicker
              #startDateTimePicker
              type="datetime"
            >
            </mat-datetimepicker>
            <input
              name="eventStartDateTime" formControlName="eventStartDateTime" matInput
              [(ngModel)]="eventDTO.startDateTime" [formControl]="startDateTimeDefault"
              [matDatetimepicker]="startDateTimePicker"
              required
              autocomplete="false"
            />


            <mat-error *ngIf="createFormGroup.get('startDateTime')?.errors">
              <p *ngIf="createFormGroup.get('startDateTime')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Startdatum und Zeit eingeben</mat-hint>
            !-->
            <mat-placeholder>Start DateTime</mat-placeholder>
            <mat-label>Startdatum</mat-label>

            <input matInput [ngxMatDatetimePicker]="startDateTimePicker"
                   formControlName="startDateTime" [(ngModel)]="eventDTO.startDateTime"
                   [formControl]="startDateTimeDefault">

            <mat-datepicker-toggle matSuffix [for]="$any(startDateTimePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startDateTimePicker
                                     [showSpinners]="true" [showSeconds]="false"
                                     [stepHour]="1" [stepMinute]="10" [stepSecond]="1"
                                     [touchUi]="true" [enableMeridian]="false"
                                     [disableMinute]="false" [hideTime]="false">
            </ngx-mat-datetime-picker>


            <mat-error *ngIf="createFormGroup.get('startDateTime')?.errors">
              <p *ngIf="createFormGroup.get('startDateTime')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Startdatum und Zeit eingeben</mat-hint>

          </mat-form-field>


        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">today</mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field appearance="outline" class="event-date--formfield">
            <!--
            <mat-placeholder>Ende DateTime</mat-placeholder>
            <mat-datetimepicker-toggle
              [for]="endDateTimePicker"
              matSuffix
            ></mat-datetimepicker-toggle>
            <mat-datetimepicker
              #endDateTimePicker
              type="datetime"
            >
            </mat-datetimepicker>
            <input
              name="eventEndDateTime" formControlName="eventEndDateTime" matInput
              [(ngModel)]="eventDTO.endDateTime" [formControl]="endDateTimeDefault"
              [matDatetimepicker]="endDateTimePicker"
              required
              autocomplete="false"
            />

            <mat-error *ngIf="createFormGroup.get('endDateTime')?.errors">
              <p *ngIf="createFormGroup.get('endDateTime')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Enddatum und Zeit eingeben</mat-hint>
            !-->

            <mat-placeholder>End DateTime</mat-placeholder>
            <mat-label>Enddatum</mat-label>

            <input matInput [ngxMatDatetimePicker]="endDateTimePicker"
                   formControlName="endDateTime" [(ngModel)]="eventDTO.endDateTime" [formControl]="endDateTimeDefault">

            <mat-datepicker-toggle matSuffix [for]="$any(endDateTimePicker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endDateTimePicker
                                     [showSpinners]="true" [showSeconds]="false"
                                     [stepHour]="1" [stepMinute]="10" [stepSecond]="1"
                                     [touchUi]="true" [enableMeridian]="false"
                                     [disableMinute]="false" [hideTime]="false">
            </ngx-mat-datetime-picker>


            <mat-error *ngIf="createFormGroup.get('endDateTime')?.errors">
              <p *ngIf="createFormGroup.get('endDateTime')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            </mat-error>
            <mat-hint>Endatum und Zeit eingeben</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">paid</mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Preis pro Ticket (in Euro und ohne Eurozeichen (€))</mat-label>
            <input name="eventPrice" formControlName="eventPrice" matInput placeholder="9,99"
                   [(ngModel)]="eventDTO.price" type="number">
            <mat-error *ngIf="createFormGroup.get('eventPrice')?.errors">
              <p *ngIf="createFormGroup.get('eventPrice')?.hasError('required')">Es sind nur ganze Zahlen erlaubt</p>
            </mat-error>
            <mat-hint>Event Preis eingeben</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="event-detail--box box--shadow">
        <div class="event-detail--box-1">
          <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">
            format_list_numbered
          </mat-icon>
        </div>
        <div class="event-detail--box-2">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Anzahl der verfügbaren Tickets</mat-label>
            <input name="eventTicketCounter" formControlName="eventTicketCounter" matInput placeholder="2000"
                   [(ngModel)]="eventDTO.ticketCounter" type="number">
            <mat-error *ngIf="createFormGroup.get('eventTicketCounter')?.errors">
              <p *ngIf="createFormGroup.get('eventTicketCounter')?.hasError('required')">Dieses Feld ist ein
                Pflichtfeld</p>
            </mat-error>
            <mat-hint>Anzahl der verfügbaren Tickets</mat-hint>
          </mat-form-field>
        </div>
      </div>


      <div class="description-box box--shadow">
        <mat-form-field class="form-element full-width" appearance="outline" style="width: 100%">
          <mat-label>Beschreibung</mat-label>
          <textarea name="eventDescription" formControlName="eventDescription" matInput
                    [(ngModel)]="eventDTO.description"></textarea>
          <mat-error *ngIf="createFormGroup.get('eventDescription')?.errors">
            <p *ngIf="createFormGroup.get('eventDescription')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          </mat-error>
          <mat-hint>Event Beschreibung eingeben</mat-hint>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.form.valid">
        Erstellen
      </button>
    </div>
  </form>
</div>
