<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let ticket of allTickets; let i = index">
      <mat-expansion-panel-header (click)="getEventQRCode(ticket.id,i)">
        <mat-panel-title>
          {{ticket.event.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{ticket.event.startDateTime | date:'dd.LL.yyyy'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ticket.event.city}}
      {{ticket.event.address}}
      {{ticket.event.description}}

      <div style="text-align: center; margin-top: 10px">
        <img [src]="ticket.qrCode" [alt]="ticket.event.name"/>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
