<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let ticket of allTickets; let i = index">
      <mat-expansion-panel-header (click)="getEventQRCode(ticket.id,i)">
        <mat-panel-title>
          {{ticket.event.name}}
        </mat-panel-title>
        <mat-panel-description>
          <p>{{ticket.event.startDateTime | date:'dd.LL.yyyy'}}</p>
          <br>
          <mat-icon color="primary" *ngIf="checkIfTicketIsValidToUse(ticket)">check_circle</mat-icon>
          <mat-icon color="warn" *ngIf="checkIfTicketIsUsed(ticket)">cancel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ticket.event.city}}
      {{ticket.event.address}}

      <div style="text-align: center; margin-top: 10px">
        <img [src]="ticket.qrCode" [alt]="ticket.event.name"/>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
