<div class="container">

  <div class="login-box">
    <div class="login-greeting">
      <h1>Log in</h1>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>

      <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon></span>

      <input matInput required type="email" [formControl]="emailFormControl" [(ngModel)]="email">

      <button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
        <mat-icon>close</mat-icon>
      </button>

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Bitte geben Sie eine gültige E-Mail Adresse ein
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email ist ein <strong>Pflichtfeld</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <span matPrefix><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>

      <input matInput required type="password" #passwort [formControl]="passwordFormControl" [(ngModel)]="password">

      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
      </button>

      <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
        Passwort ist zu kurz, mindestens 8 Zeichen
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required') && !passwordFormControl.hasError('minlength')">
        Passwort entspricht nicht den Vorgaben
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Passwort ist ein <strong>Pflichtfeld</strong>
      </mat-error>

      <mat-hint align="end">{{passwort.value.length}} / {{passwordMinLength}}</mat-hint>
      <mat-hint align="start">Beachten Sie die Passwort vorgabe </mat-hint>
    </mat-form-field>

    <div class="form-element two-items">
      <button mat-raised-button color="basic" (click)="openRegisterView()">Registrieren</button>
      <button mat-raised-button color="primary">Anmelden</button>
    </div>
    <div class="form-element two-items">
      <mat-checkbox color="primary">Remember me?</mat-checkbox>
      <a href="#">Passwort vergessen?</a>
    </div>
  </div>
</div>

