<p>This is the Logn Pagee</p>

<button (click)="openRegisterView()">Regestrieren sie sich jetzt</button>
<div class="login-box">
  <div class="login-box--inner">
    <h1>Log In</h1>
      <div class="form-element">
        <label for="email">E-Mail</label>

        <input
          required
          minlength="3"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          ngModel
          name="email"
          #email="ngModel"
          id="email"
          type="email"
          placeholder="john@doe.com"
          [(ngModel)]="mail">

        <div
          class="error-box"
          *ngIf="email.touched && !email.valid">
          <p
            *ngIf="email.hasError('required')"
          >*Dieses Eingabe Feld darf nicht leer sein</p>
          <p
            *ngIf="email.hasError('minlength')">
            *Bitte Mindestlänge von {{ email.getError('minlength').requiredLength }} Zeichen beachten, momentan nur {{ email.getError('minlength').actualLength }} Zeichen
          </p>
          <p
            *ngIf="email.hasError('pattern')"
          >*Dies ist keine Email</p>
        </div>
      </div>
      <div class="form-element">
        <label for="password">Passwort</label>
        <input
          required
          minlength="8"
          pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{0,}$"
          name="password"
          ngModel
          #password="ngModel"
          id="password"
          type="password"
          placeholder="Passwort"
          [(ngModel)]="pass">
        <div
          class="error-box"
          *ngIf="password.touched && !password.valid">
          <p
            *ngIf="password.hasError('required')"
          >*Dieses Eingabe Feld darf nicht leer sein</p>
          <p
            *ngIf="password.hasError('minlength')">
            *Bitte Mindestlänge von {{ password.getError('minlength').requiredLength }} Zeichen beachten, momentan nur {{ password.getError('minlength').actualLength }} Zeichen
          </p>
          <p
            *ngIf="password.hasError('pattern')"
          >*Entspricht nicht unseren Vorgaben(min 1 Groß-Kleinbuchstabe, min 1 Ziffer, min 1 Sonderzeichen)</p>
        </div>
      </div>
      <button (click)="postLogin()">Log in</button>
  </div>
</div>
