@import "src/assets/theme";

.login-greeting {
  background-color: $brand-color;
  padding: 10px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 35px 0;
}

.login-box {
  padding-bottom: 30px;
  max-width: 450px;
  margin: 0 auto;
}

.mat-icon {
  color: $brand-color;
}

.mat-form-field {
  width: 100%;
  overflow: hidden;

  .mat-icon {
    margin-right: 15px;
  }

  ::ng-deep {

    &input {
      background-color: transparent !important;
      font-size: 18px;
    }
  }
}

.form-element.two-items {
  margin-top: 30px;
}

:not(.mat-focused) {
  ::ng-deep .mat-form-field-label {
    left: 20px;
  }
}

