<div class="container">

  <form #loginForm="ngForm" [formGroup]="loginFormGroup" (ngSubmit)="loginForm.form.valid && authenticate() ">

    <div class="form-container form-container--column">

        <h1 class="form-headline">Login</h1>

        <mat-form-field class="form-element full-width" appearance="outline">
          <mat-label>Login Name</mat-label>
          <input matInput placeholder="max@mustermann.com" [(ngModel)]="userAuthReqDTO.email" name="email"
                 formControlName="email">
          <mat-error *ngIf="loginFormGroup.get('email')?.errors">
            <p *ngIf="loginFormGroup.get('email')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            <p *ngIf="loginFormGroup.get('email')?.hasError('pattern')">Die ist keine gültige E-Mail Adresse</p>
          </mat-error>
          <button *ngIf="userAuthReqDTO.email" matSuffix mat-icon-button aria-label="Clear" (click)="userAuthReqDTO.email=''">
            <mat-icon color="primary">close</mat-icon>
          </button>
          <mat-hint>E-Mail oder Benutzername eingeben</mat-hint>
        </mat-form-field>

      <mat-form-field class="form-element full-width" appearance="outline">
        <mat-label>Passwort</mat-label>
        <input matInput placeholder="Max" [(ngModel)]="userAuthReqDTO.password" name="password" type="password"
               formControlName="password">
        <button *ngIf="userAuthReqDTO.password" matSuffix mat-icon-button aria-label="Clear" (click)="userAuthReqDTO.password=''">
          <mat-icon color="primary">close</mat-icon>
        </button>
        <mat-error *ngIf="loginFormGroup.get('password')?.errors">
          <p *ngIf="loginFormGroup.get('password')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
          <p *ngIf="loginFormGroup.get('password')?.hasError('pattern')">Dies entspricht nicht den Passwort Vorgaben</p>
        </mat-error>
      </mat-form-field>

        <div class="form-element">
          <a href="#">Passwort vergessen?</a>
        </div>

        <div class="form-element two-columns full-width">
          <button mat-raised-button color="basic" routerLink="/user/register">Registrieren</button>
          <button mat-raised-button color="primary" type="submit" value="submit" [disabled]="!loginForm.form.valid">Anmelden</button>
        </div>

    </div>
  </form>
</div>

