h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-special;
  font-weight: $font-weight-bolder;
  line-height: 1;
  color: $brand-color;
  word-break: break-word;

  small {
    display: block;
    font-size: 0.5em;
  }
}

h1, .h1 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h1-min-font-size, $h1-font-size);
}

h2, .h2 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h2-min-font-size, $h2-font-size);
}

h3, .h3 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h3-min-font-size, $h3-font-size);
}

h4, .h4 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h4-min-font-size, $h4-font-size);
}

h5, h5 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h5-min-font-size, $h5-font-size);
}

h6, h6 {
  @include fluid-type($fluid-min-vw, $fluid-max-vw, $h6-min-font-size, $h6-font-size);
}

.text {

  &-center {
    text-align: center;
  }

  &-end {
    text-align: end;
  }

  &-justify {
    text-align: justify;
  }
}
