<div class="list-wrapper">
  <mat-card *ngFor="let event of events" class="card-wrapper">
    <img src="{{event.imageUrl}}" class="background-image">

    <div class="explicit-card">

      <mat-card-header class="customized-card-header">
        <div class="customized-card-header-avatar" mat-card-avatar>
          <img src="/assets/icon_home.svg">
        </div>
        <mat-card-title class="mat-card-title">
          {{event.eventName}}
        </mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle"></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{event.description}} {{event.village}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button (click)="buyClicked()" mat-button>Kaufen</button>
        <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
      </mat-card-actions>
    </div>

  </mat-card>
</div>
