@import "src/assets/theme";

.text-brand-color {
  color: $brand-color;
}

.container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;

  &-events {
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  &-splide {
    padding-top: 30px;
    margin: 0 !important;
    max-width: 100%;

    @media screen and (max-width: 600px) {
      padding: 30px 0 0 30px;
    }
  }
}

.container-splide, .container-events {
  @media screen and (max-width: 600px) {
    width: 100vw !important;
  }
}

.event-card {
  height: 260px;
  width: auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 30px 20px -20px #7F73D480;

  &--inner {
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(360deg, #6755E7 19.27%, #7F73D4 29.16%, #7F73D4 29.17%, rgba(196, 196, 196, 0) 100%);
      z-index: -1;
    }
  }

  &--information {
    margin-bottom: 0;
    margin-top: auto;

    h1 {
      color: $white;
    }

    small {
      color: $white;
    }
  }

  &--thumbnail {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.4;
    z-index: -1;

    img {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  &--date {
    color: $white;
    margin-right: 0;
    margin-left: auto;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
