<div class="container">

  <div class="event-overview--view-switch">
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">article</mat-icon>
    </span>
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">map</mat-icon>
    </span>
  </div>

  <div class="event-overview--greeting">
    <p><span class="text-brand-color">Willkommen</span> User,</p>
    <p>5 neue Events in deiner Nähe</p>
  </div>

  <div class="event-overview--search">
    <form>
      <input type="text" name="filterword" placeholder="Search Events">
      <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
    </form>
  </div>

  <ul class="event-overview--filter">
    <li class="filter-item" *ngFor="let filter of filters" [ngClass]="{'active': filter.isActive}" (click)="onClickFilter(filter)">{{ filter.name }}</li>
  </ul>

  <div class="splide-container">
    <splide [options]="
    {
      perPage: 4,
      gap: 30,
      pagination: false,
      breakpoints: {
        '1200': {
          perPage: 4
        },
        '1000': {
          perPage: 3
        },
        '800': {
          perPage: 2,
          padding: {right: 0},
          arrows: true
        },
        '600': {
          perPage: 1,
          padding: {right: 85},
          arrows: false
        }
      }
    }
      ">
      <splide-slide>
        <section class="event-card">
          <div class="event-card--inner">

            <div class="event-card--date">
              <h3>31</h3>
              <h3>Dez</h3>
            </div>

            <figure class="event-card--thumbnail">
              <img src="../../../assets/event.jpg">
            </figure>

            <div class="event-card--information">
            <span>
              <h1>Dorf-Fest</h1>
              <small>Ellmau in Tirol</small>
            </span>
              <span>

            </span>
            </div>
          </div>
        </section>
      </splide-slide>
      <splide-slide>
        <section class="event-card">
          <div class="event-card--inner">

            <div class="event-card--date">
              <h3>31</h3>
              <h3>Dez</h3>
            </div>

            <figure class="event-card--thumbnail">
              <img src="../../../assets/event.jpg">
            </figure>

            <div class="event-card--information">
            <span>
              <h1>Techno Party</h1>
              <small>Ellmau in Tirol</small>
            </span>
              <span>

            </span>
            </div>
          </div>
        </section>
      </splide-slide>
      <splide-slide>
        <section class="event-card">
          <div class="event-card--inner">

            <div class="event-card--date">
              <h3>31</h3>
              <h3>Dez</h3>
            </div>

            <figure class="event-card--thumbnail">
              <img src="../../../assets/event.jpg">
            </figure>

            <div class="event-card--information">
            <span>
              <h1>Ü31 Party</h1>
              <small>Ellmau in Tirol</small>
            </span>
              <span>

            </span>
            </div>
          </div>
        </section>
      </splide-slide>
      <splide-slide>
        <section class="event-card">
          <div class="event-card--inner">

            <div class="event-card--date">
              <h3>31</h3>
              <h3>Dez</h3>
            </div>

            <figure class="event-card--thumbnail">
              <img src="../../../assets/event.jpg">
            </figure>

            <div class="event-card--information">
            <span>
              <h1>Jahrmarkt</h1>
              <small>Ellmau in Tirol</small>
            </span>
              <span>

            </span>
            </div>
          </div>
        </section>
      </splide-slide>
    </splide>
  </div>
</div>
