* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1450px;
  padding-left: 30px;
  padding-right: 30px;
}

.maintained-events-container {
  width: 100%;

  @media screen and (max-width: 600px) {
    padding-left: $container-padding-left / 2;
    padding-right: $container-padding-right / 2;
  }
}

ul {
  list-style-type: none;
}
