//Variables
@import "variables";
@import "base";
@import "mixins";

.container {
  max-width: $container-max-width;
  padding-left: $container-padding-left;
  padding-right: $container-padding-right;
  margin: 0 auto;

  @media screen and (max-width: 600px) {
    padding-left: $container-padding-left / 2;
    padding-right: $container-padding-right / 2;
  }
}

.edit-maintained-event-container{
  display: block; width: 100%;
}

.maintained-events-container {
  width: 100%;

  @media screen and (max-width: 600px) {
    padding-left: $container-padding-left / 2;
    padding-right: $container-padding-right / 2;
  }
}

.box {
  @include fluid-property('padding', $fluid-min-vw, $fluid-max-vw, 30px, 60px);
  max-width: 800px;
  margin: 80px auto;
  position: relative;
  border-radius: $border-radius;

  &--shadow {
    box-shadow: $box-shadow;
  }
}

//grid
.grid {
  display: grid;
  @include fluid-property('grid-gap', $fluid-min-vw, $fluid-max-vw, $grid-gap/2, $grid-gap);


  &.cols {

    &--1 {
      grid-template-columns: 1fr;
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .cols--full-width {
    grid-column: 1/-1;
  }
}

.form {

  &--full-width {
    width: 100%;
  }
}

.error-box {
  background-color: #FF0000FF !important;

  button {
    color: $white !important;
    border: 1px solid $white !important;
  }
}

.warning-snackbar {
  background-color: orangered !important;

  button {
    color: $white !important;
    border: 1px solid $white !important;
  }
}


