<div class="container" style="font-family: sans-serif" >
  <div class="grid cols--2">
    <div class="grid cols--1 event-detail--media">

      <splide [options]="
    {
      perPage: 1,
      pagination: true,
      type: 'fade',
      width: '80vw',
      autoPlay: true,
      interval: 4000,
      rewind: true
    }
      ">
        <splide-slide *ngFor="let image of eventDTO.eventImageUrls; let i=index ">
          <figure class="image-thumbnail event-detail--media-big">
            <img
              src="{{image}}">
          </figure>
        </splide-slide>
      </splide>
    </div>
    <div class="event-detail--information">
      <div class="grid cols--1">
        <div class="grid cols--2">
          <h1>
            {{ eventDTO.name}}
            <small style="font-size: 15px; display: block">Festverein Ellmau</small>
          </h1>
          <!--
          <button class="like-button">
            <mat-icon class="icon">favorite</mat-icon>
          </button>
          !-->
        </div>
        <mat-divider></mat-divider>
        <div class="grid cols--4">

          <section class="event-detail--card">
            <div class="event-detail--card-icon">
              <mat-icon class="icon">place</mat-icon>
            </div>
            <div class="event-detail--card-description">
              <h2>{{ eventDTO.city }}</h2>
              <h4>{{ eventDTO.address }}</h4>
            </div>
          </section>


          <section class="event-detail--card">
            <div class="event-detail--card-icon">
              <mat-icon class="icon">calendar_today</mat-icon>
            </div>
            <div class="event-detail--card-description">
              <h2>Start</h2>
              <h4>{{ eventDTO.startDateTime | date: 'dd.MM.yyyy HH:mm'}}</h4>
            </div>
          </section>

          <section class="event-detail--card">
            <div class="event-detail--card-icon">
              <mat-icon class="icon">calendar_today</mat-icon>
            </div>
            <div class="event-detail--card-description">
              <h2>Ende</h2>
              <h4>{{ eventDTO.endDateTime | date: 'dd.MM.yyyy HH:mm'}}</h4>
            </div>
          </section>

        </div>

        <section class="event-detail--description">
          <h2>Eventbeschreibung:</h2>
          <p>{{ eventDTO.description }}</p>
        </section>

        <section class="event-detail--shopping">
          <div class="event-detail--shopping-box">
            <h1>{{ eventDTO.price * eventQuantity | currency: 'EUR' :'symbol':'.2-2':'de-DE' }}</h1>
            <span class="event-detail--shopping-quantity">
              <button (click)="decreaseQuantity()">
                <mat-icon class="icon">remove</mat-icon>
              </button>
               <h1>{{ eventQuantity }}</h1>
               <button (click)="increaseQuantity()">
                <mat-icon class="icon">add</mat-icon>
              </button>
            </span>
            <button class="cart" (click)="addToShoppingCart(eventDTO, eventQuantity)">
              <mat-icon class="icon">shopping_cart</mat-icon>
              In den Warenkorb
            </button>
            <!--<button class="cart" (click)="goToCheckout()">
              <mat-icon class="icon">payments</mat-icon>
              Kaufen
            </button>-->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
