<div class="container-splide">
  <splide [options]="
    {
      perPage: 1,
      pagination: false
    }
      ">
    <splide-slide>
      <figure class="image-thumbnail">
        <img src="../../../assets/event.jpg">
      </figure>
    </splide-slide>
    <splide-slide>
      <figure class="image-thumbnail">
        <img src="../../../assets/event.jpg">
      </figure>
    </splide-slide>
    <splide-slide>
      <figure class="image-thumbnail">
        <img src="../../../assets/event.jpg">
      </figure>
    </splide-slide>
  </splide>

  <div class="event-name box--shadow margin-bottom--standard">
    <h2>{{ eventDTO.name }}</h2>
    <h4>Die coolen Events GmbH</h4>
  </div>

  <h3 class="event-headline">Eventinfo:</h3>

  <div class="grid cols--2 container">

    <div class="event-detail--box box--shadow">
      <div class="event-detail--box-1">
        <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">home</mat-icon>
      </div>
      <div class="event-detail--box-2">
        <h3>{{ eventDTO.city }}</h3>
        <h4>{{ eventDTO.address }}</h4>
      </div>
    </div>

    <div class="event-detail--box box--shadow">
      <div class="event-detail--box-1">
        <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">event</mat-icon>
      </div>
      <div class="event-detail--box-2">
        <h3>Datum:</h3>
        <h4>{{ eventDTO.date }}</h4>
      </div>
    </div>

    <div class="event-detail--box box--shadow">
      <div class="event-detail--box-1">
        <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">paid</mat-icon>
      </div>
      <div class="event-detail--box-2">
        <h3>Preis:</h3>
        <h4>{{ eventDTO.price }} €</h4>
      </div>
    </div>

    <div class="event-detail--box box--shadow">
      <div class="event-detail--box-1">
        <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">task_alt
        </mat-icon>
      </div>
      <div class="event-detail--box-2 event-detail--wrapper">
        <h3>Anzahl</h3>
        <section>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon style="color: #ffffff;" class="icon" class="button" aria-hidden="false" aria-label="outlined icon"
                      (click)="decreaseQuantity()">remove
            </mat-icon>
          </button>
          <h3 style="text-align: center">
            {{ eventQuantity }}
          </h3>
          <button mat-raised-button color="primary" class="button" type="submit">
            <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon"
                      (click)="increaseQuantity()">add
            </mat-icon>
          </button>

          <button mat-raised-button color="primary" class="button" type="submit">
            <mat-icon style="color: #ffffff;" class="icon" aria-hidden="false" aria-label="outlined icon">
              shopping_cart
            </mat-icon>
          </button>

        </section>
      </div>
    </div>

    <div class="description-box box--shadow">
      <h3>Beschreibung:</h3>
      <p>{{ eventDTO.description }} </p>
    </div>
  </div>
</div>

