<p>This is the Register Page</p>

<div class="register-box">
  <div class="register-greeting">
    <h1>Registrierung</h1>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Vorname</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">badge</mat-icon></span>

    <input matInput required type="text" [formControl]="textFormControl">

    <mat-error *ngIf="textFormControl.hasError('minlength')">
      Bitte mindestlänge beachten
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nachname</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">badge</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Stadt</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">apartment</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Postleitzahl</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">markunread_mailbox</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Versicherungsnummer</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">health_and_safety</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Geburtstag</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">cake</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Passwort</mat-label>

    <span matPrefix ><mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon></span>

    <input matInput required type="text">

  </mat-form-field>

  <div class="form-element two-items" style="margin-bottom: 50px;">
    <button mat-raised-button color="primary">Anmelden</button>
  </div>

</div>
