<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()">
    <div class="form-container form-container--column">

      <h1 class="form-headline">Register</h1>

      <div class="two-columns">
        <div class="form-container--column">
          <mat-form-field appearance="outline">
            <mat-label>Geschlecht</mat-label>
            <mat-select name="gender"
                        ngModel
                        #gender="ngModel"
                        required [(ngModel)]="userRegisterDTO.userGender">
              <mat-option value="DIVERSE">Divers</mat-option>
              <mat-option value="FEMALE">Weiblich</mat-option>
              <mat-option value="MALE">Männlich</mat-option>
            </mat-select>
            <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)">
              <p *ngIf="gender.errors?.required"><strong>Geschlecht</strong> darf nicht leer sein</p>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Vorname</mat-label>
            <input matInput placeholder="Max" name="firstname"
                   ngModel
                   #firstname="ngModel"
                   required
                   minlength="2" [(ngModel)]="userRegisterDTO.firstName"
            >
            <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
              <p *ngIf="firstname.errors?.required"><strong>Vorname</strong> darf nicht leer sein</p>
              <p *ngIf="firstname.errors?.minlength"><strong>Vorname</strong> muss mindestens 2 Zeichen lang sein</p>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Nachname</mat-label>
            <input matInput placeholder="Mustermann" name="lastname"
                   ngModel
                   #lastname="ngModel"
                   required
                   minlength="2" [(ngModel)]="userRegisterDTO.lastName"
            >
            <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
              <p *ngIf="lastname.errors?.required"><strong>Nachname</strong> darf nicht leer sein</p>
              <p *ngIf="lastname.errors?.minlength"><strong>Nachname</strong> muss mindestens 2 Zeichen lang sein</p>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Geburtsdatum</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="date" name="birthday" #birthday
                   [(ngModel)]="userRegisterDTO.birthday">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-container--column">
          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="max@mustermann.com" name="email"
                   ngModel
                   #email="ngModel"
                   required
                   pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" [(ngModel)]="userRegisterDTO.email"
            >
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
              <p *ngIf="email.errors?.required"><strong>E-Mail</strong> darf nicht leer sein</p>
              <p *ngIf="email.errors?.pattern"><strong>E-Mail</strong> muss gültig sein</p>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-element full-width" appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput placeholder="Musterstraße 1/1" name="street" [(ngModel)]="userRegisterDTO.street">
          </mat-form-field>

          <div class="form-element two-columns">
            <mat-form-field class="form-element full-width" appearance="outline">
              <mat-label>Postleitzahl</mat-label>
              <input matInput placeholder="1234" name="postCode" [(ngModel)]="userRegisterDTO.postCode">
            </mat-form-field>

            <mat-form-field class="form-element" appearance="outline">
              <mat-label>Stadt</mat-label>
              <input matInput placeholder="Musterstadt" name="city" [(ngModel)]="userRegisterDTO.city">
            </mat-form-field>

            <mat-form-field class="form-element full-width" appearance="outline">
              <mat-label>Passwort</mat-label>
              <input matInput placeholder="Max" name="password" type="password"
                     ngModel
                     #password="ngModel"
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                     required [(ngModel)]="userRegisterDTO.password">
              <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors?.required"><strong>Passwort</strong> darf nicht leer sein</p>
                <p *ngIf="password.errors?.pattern"><strong>Passwort</strong> Richtlinien beachten</p>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit">Anmelden</button>
      </div>

    </div>
  </form>

</div>
