<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title class="mat-card-title">Ellmau</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">27.12.2022</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>
      <p>Dorfest Ellmau, ein Abenteuer das man nicht so leicht vergisst! Sichern sie sich jeztz die Tickets</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyClicked()" mat-button>Kaufen</button>
      <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Ellmau</mat-card-title>
      <mat-card-subtitle>27.12.2022</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>
      <p>Dorfest Ellmau</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyClicked()" mat-button>Kaufen</button>
      <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Ellmau</mat-card-title>
      <mat-card-subtitle>27.12.2022</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>
      <p>
        Dorfest Ellmau
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyClicked()" mat-button>Kaufen</button>
      <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
    </mat-card-actions>
  </mat-card>
</div>

v
<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Ellmau</mat-card-title>
      <mat-card-subtitle>27.12.2022</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>
      <p>
        Dorfest Ellmau
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyClicked()" mat-button>Kaufen</button>
      <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="card-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Ellmau</mat-card-title>
      <mat-card-subtitle>27.12.2022</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content>
      <p>
        Dorfest Ellmau
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="buyClicked()" mat-button>Kaufen</button>
      <button (click)="inToCartClicked()" mat-button>Warenkorb</button>
    </mat-card-actions>
  </mat-card>
</div>

