/* You can add global styles to this file, and also import other style files */

html {
  background-color: white;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.mat-slider-thumb-label {
  opacity: 70%;
  background-color: #730C63 !important;

}

.mat-slider-track-fill {
  background-color: #730C63 !important;
}

.mat-slider-thumb {
  background-color: #730C63 !important;
}

.mat-slider {
  width: 100% !important;
}
