#pe_toolbar {
  background-color: #730C63;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}


.mat-icon-no-color {
  background-color: #730C63;
}

.example-icon {
  background-color: #730C63;
}

h3 {
  padding-left: 80px;
}
