<div class="container">
  <h2>Hi, {{this.ownerOfShoppingCart}} du hast es fast geschafft!</h2>


  <mat-card class="example-card">
    <mat-list role="list" *ngFor="let events of shoppingCart.tickets">
      <mat-list-item role="listitem">{{events.quantity}}  x   {{events.eventName}}
        Preis {{events.amount}}</mat-list-item>
    </mat-list>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="makePayment()">
        Kauf abschließen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
