<div class="container">
  <div class="box box--shadow">

    <h1 class="form-headline">Passwort zurücksetzen</h1>

    <form #resetPasswordForm="ngForm" [formGroup]="resetPasswordFormGroup"
          (keydown.enter)="resetPasswordForm.form.valid && passwordReset()"
          (ngSubmit)="resetPasswordForm.form.valid &&
      passwordReset() ">
      <div class="grid cols--1">
        <mat-form-field appearance="outline">
          <mat-label>Login Name</mat-label>
          <input matInput placeholder="max@mustermann.com" [(ngModel)]="userAuthReqDTO.email" name="email"
                 formControlName="email">
          <mat-error *ngIf="resetPasswordFormGroup.get('email')?.errors">
            <p *ngIf="resetPasswordFormGroup.get('email')?.hasError('required')">Dieses Feld ist ein Pflichtfeld</p>
            <p *ngIf="resetPasswordFormGroup.get('email')?.hasError('pattern')">Die ist keine gültige E-Mail Adresse</p>
          </mat-error>
          <button *ngIf="userAuthReqDTO.email" matSuffix mat-icon-button aria-label="Clear"
                  (click)="userAuthReqDTO.email=''">
            <mat-icon color="primary">close</mat-icon>
          </button>
          <mat-hint>E-Mail oder Benutzername eingeben</mat-hint>
        </mat-form-field>


        <div class="grid cols--2">
          <button mat-raised-button color="primary" type="submit" value="submit"
                  [disabled]="!resetPasswordForm.form.valid">
            Zurücksetzen
          </button>
        </div>

        <div class="status" *ngIf="passwordResetStatus != ''">
          {{passwordResetStatus}}
          <a mat-menu-item href="user/login">
            <mat-icon color="primary">login</mat-icon>
            <span>Einloggen</span>
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
